<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title><%- albumInfo.name %> - Spotify Album - Coverflow Player</title>
    </head>

    <body>
        <header>
            <%- include('../../partials/header') %>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="/css/spotify.css" />
        </header>

        <main class="flex-center" style="background-color: rgb(<%- color %>)">
            <section id="album">
                <div class="flex-row-center">
                    <i class="las la-3x la-arrow-circle-left" onclick="window.history.back();"></i>
                    <h2>Album: <%- albumInfo.name %></h2>
                </div>
                <p>
                    <span class="bold">By:</span>
                    <a href="/spotify/artist/<%- albumInfo.artists[0].id %>"><%- albumInfo.artists[0].name %></a>
                </p>
                <div class="flex-row">
                    <img
                        src="/img/analysed-artwork/spotify/album/<%- albumInfo.id %>.png"
                        alt="<%- albumInfo.name %> cover"
                    />
                </div>
            </section>
            <section id="songs">
                <% albumInfo.tracks.items.forEach(function(track) { %>
                <div class="flex-row">
                    <p><%= track.track_number %></p>
                    <h4><%= track.name %></h4>
                    <a href="/spotify/artist/<%= track.artists[0].id %>">
                        <p><%= track.artists[0].name %></p>
                    </a>
                    <i class="las la-play-circle"></i>
                    <audio style="background-color: rgb(<%- color %>)">
                        <source src="<%- track.preview_url %>" type="audio/mpeg" />
                    </audio>
                </div>
                <% }); %>
            </section>
        </main>

        <footer><%- include('../../partials/footer') %></footer>
    </body>
</html>
