<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center full-width" style="background-color: rgb(<%- color %>);">
        <h2><%- albumname %></h2>
        <% if (artwork) { %>
        <img id="album-art" src="<%- artwork %>" alt="<%- albumname %> cover">
        <% } else { %>
        <img src="/img/fallback-imgs/fallback-album.jpg">
        <% } %>

        <% tracks.forEach(function(track) { %>
        <div style="background-color: rgb(<%- color %>);" class="flex-row">
            <p><%= track.track_number %>
            <p>
            <p><%= track.name %>
            <p>
                <i id="<%= track.track_number %>" class="las la-play-circle" onclick="togglePlay(this.id)"></i>
                <audio id="audio<%= track.track_number %>" style="background-color: rgb(<%- color %>);">
                    <source src="<%- track.preview_url %>" type="audio/mpeg">
                </audio>
        </div>
        <% }); %>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

    <script>
        const artworkColor = document.getElementsByTagName("main")[0].style.backgroundColor;
        if (lightOrDark(artworkColor) === "dark") {
            document.getElementsByTagName("h2")[0].style.color = "#fff";
        }
    </script>
</body>

</html>
