<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/spotify.css">
    </header>

    <main class="flex-center">
        <h2>Search Results For: <%- searchQuery %></h2>

        <section id="songs">
            <h3>Songs</h3>
            <% trackResults.forEach(function(result) { %>
            <div class="flex-row">
                <a href="/spotify/album/?id=<%= result.album.id %>">
                    <img src="<%= result.album.images[2].url %>">
                </a>
                <h4><%= result.name %></h4>
                <a href="/spotify/artist/?id=<%= result.album.artists[0].id %>">
                    <p><%= result.album.artists[0].name %></p>
                </a>
                <i id="<%= result.track_number %>" class="las la-play-circle" onclick="togglePlay(this.id)"></i>
                <audio id="audio<%= result.track_number %>">
                    <source src="<%- result.preview_url %>" type="audio/mpeg">
                </audio>
            </div>
            <% }); %>
        </section>

        <section id="artists">
            <h3>Artists</h3>
            <div class="flex-row">
                <% artistResults.forEach(function(result) { %>
                <div class="card">
                    <a href="/spotify/artist/?id=<%= result.id %>">
                        <img src="<%= result.images[1].url %>">
                        <h4><%= result.name %></h4>
                        <p>Artist</p>
                    </a>
                </div>
                <% }); %>
            </div>
        </section>

        <section id="albums">
            <h3>Albums</h3>
            <div class="flex-row">
                <% trackResults.forEach(function(result) { %>
                <div class="card">
                    <a href="/spotify/album/?id=<%= result.album.id %>">
                        <img src="<%= result.album.images[1].url %>">
                        <h4><%= result.album.name %></h4>
                        <a href="/spotify/artist/?id=<%= result.id %>">
                            <p><%= result.album.artists[0].name %></p>
                        </a>
                    </a>
                </div>
                <% }); %>
            </div>
        </section>

        <section id="playlists">
            <h2>Playlists</h2>
            <div class="flex-row">
                <% playlistResults.forEach(function(result) { %>
                <div class="card">
                    <a href="/spotify/playlist/?id=<%= result.id %>">
                        <img src="<%= result.images[0].url %>">
                        <h4>By <%= result.name %></h4>
                        <p><%= result.owner.display_name %></p>
                    </a>
                </div>
                <% }); %>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

</body>

</html>
