<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('/views/partials/head') %>
</head>

<body>
    <header>
        <%- include('/views/partials/header') %>
    </header>

    <main class="flex-center">
        <% results.forEach(function(result) { %>
        <a id="" href="/track">
            <img src="<%= result.album.images[0].url %>">
            <h3><%= result.album.name %></h3>
            <p><%= result.album.artists %></p>
            <% }); %>
        </a>
    </main>

    <footer>
        <%- include('/views/partials/footer') %>
    </footer>

</body>

</html>
