<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center full-width">
        <h2><%- albumname %></h2>
        <img id="album-art" src="<%- artwork %>" alt="<%- albumname %> cover">

        <% for (var i = 0; i < tracks.length; i++) { %>
        <div style="background-color: rgb(<%- color %>);" class="flex-row">
            <p><%= i %>
            <p>
            <p><%= tracks[i].title %>
            <p>
                <i id="<%= i %>" class="las la-play-circle" onclick="togglePlay(this.id)"></i>
                <audio id="audio<%= i %>" type="audio/mpeg" style="background-color: rgb(<%- color %>);">
                    <source src="<%- tracks[i].preview %>" type="audio/mpeg">
                </audio>
        </div>
        <% } %>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

    <script>
        const artworkColor = document.getElementsByTagName("main")[0].style.backgroundColor;
        if (lightOrDark(artworkColor) === "dark") {
            document.getElementsByTagName("h2")[0].style.color = "#fff";
        }
    </script>
</body>

</html>
