<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head') %>
</head>

<body>
    <header>
        <%- include('../../partials/header') %>
    </header>

    <main class="flex-center">
        <img id="album-art" src="<%- artworkurl %>">
        <div style="width: 300px; height: 300px; background-color: rgb(<%- color %>)"></div>
        <audio style="background-color: rgb(<%- color %>);" controls>
            <source src="<%- track.preview %>" type="audio/mpeg">
        </audio>
    </main>

    <footer>
        <%- include('../../partials/footer') %>
    </footer>

</body>

</html>
