<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Analytics Dashboard - Colorflow Player</title>
    </head>

    <body>
        <header><%- include('../../partials/header') %></header>

        <main class="flex-center no-bottom">
            <h2>Analytics Dashboard</h2>
            <p>See how the Spotify and Deezer versions of Colorflow Player compare.</p>
            <ul>
                <!-- Your views vs Others.  -->
                <!-- JS Counter for Spotify Plays vs Deezer  -->
                <!-- Playlists vs Songs vs Album views/plays? -->
                <!-- Session length  -->
                <li><span class="bold">Overall Page Views:</span> <%- pageViews %></li>
                <li><span class="bold">Home Page Views:</span> <%- homeViews %></li>
                <li><span class="bold">Analytics Page Views:</span> <%- analyticsViews %></li>
                <li><span class="bold">Spotify Page Views:</span> <%- spotifyViews %></li>
                <li><span class="bold">Deezer Page Views:</span> <%- deezerViews %></li>
            </ul>
            <button type="reset" value="Reset Analytics">Reset Analytics</button>
        </main>

        <%- include('../../partials/footer') %>
    </body>
</html>
